.hidden { display: none !important; }

.component-container
{
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 500px;

    box-shadow: 0.2px 0.2px 5px 0.2px #a3a3a3;

    resize: both;
    overflow: auto;
}

.component-icon-container
{
    display: flex;
    justify-content: space-around;

    min-height: 48px;
}

.component-icon
{
    flex-grow: 1;
    margin: 3px;
}

.button-component-icon
{
    border: 1.5px ridge #00000000;
    border-radius: 5px;
    cursor: pointer;

    width: 100%;
    padding: 3px;
    
    background-color: transparent;
}
.button-component-icon:hover
{
    border: 1.5px ridge #00000015;
}
.button-component-icon-active
{
    border: 1.6px ridge #00000015;
}

.component-content-container
{
    display: flex;
    justify-content: center;
    height: 100%;

    border-top: 1px solid rgba(90, 90, 90, 0.745);
}

.component-content
{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
    align-self: center;

    margin: 3px; 
    padding: 0.2rem 1rem;

    font-family: system-ui;
}
